In [2]:
import pandas as pd
import numpy as np
from numpy.linalg import svd
from scipy.linalg import svd, diagsvd
import matplotlib.image as mpimg
import matplotlib.pyplot as plt
import numpy as np
from copy import deepcopy

df = pd.read_csv('ratings_small.csv')
df.head(50)

    userId  movieId  rating   timestamp
0        1       31     2.5  1260759144
1        1     1029     3.0  1260759179
2        1     1061     3.0  1260759182
3        1     1129     2.0  1260759185
4        1     1172     4.0  1260759205
5        1     1263     2.0  1260759151
6        1     1287     2.0  1260759187
7        1     1293     2.0  1260759148
8        1     1339     3.5  1260759125
9        1     1343     2.0  1260759131
10       1     1371     2.5  1260759135
11       1     1405     1.0  1260759203
12       1     1953     4.0  1260759191
13       1     2105     4.0  1260759139
14       1     2150     3.0  1260759194
15       1     2193     2.0  1260759198
16       1     2294     2.0  1260759108
17       1     2455     2.5  1260759113
18       1     2968     1.0  1260759200
19       1     3671     3.0  1260759117
20       2       10     4.0   835355493
21       2       17     5.0   835355681
22       2       39     5.0   835355604
23       2       47     4.0   835355552
24       2       50     4.0   835355586
25       2       52     3.0   835356031
26       2       62     3.0   835355749
27       2      110     4.0   835355532
28       2      144     3.0   835356016
29       2      150     5.0   835355395
30       2      153     4.0   835355441
31       2      161     3.0   835355493
32       2      165     3.0   835355441
33       2      168     3.0   835355710
34       2      185     3.0   835355511
35       2      186     3.0   835355664
36       2      208     3.0   835355511
37       2      222     5.0   835355840
38       2      223     1.0   835355749
39       2      225     3.0   835355552
40       2      235     3.0   835355664
41       2      248     3.0   835355896
42       2      253     4.0   835355511
43       2      261     4.0   835355681
44       2      265     5.0   835355697
45       2      266     5.0   835355586
46       2      272     3.0   835355767
47       2      273     4.0   835355779
48       2      292     3.0   835355492
49       2      296     4.0   835355395

Precisamos passar todos os dados para uma matriz

Exemplo 3 usuarios e 4 filmes

usuario1 = [nota_1_1, nota_1_2, nota_1_3, nota_1_4]

usuario2 = [nota_2_1, nota_2_2, nota_2_3, nota_2_4]

usuario3 = [nota_3_1, nota_3_2, nota_3_3, nota_3_4]


portanto nossa matiz A ficaria assim:

$$
A = \begin{bmatrix}
    nota_{1,1} & nota_{1,2} & nota_{1,3} & nota_{1,4} \\
    nota_{2,1} & nota_{2,2} & nota_{2,3} & nota_{2,4} \\
    nota_{3,1} & nota_{3,2} & nota_{3,3} & nota_{3,4}
\end{bmatrix}
$$

In [3]:
'''
Exemplo 3 usuarios e 4 filmes

usuario1 = [nota_1_1, nota_1_2, nota_1_3, nota_1_4]
usuario2 = [nota_2_1, nota_2_2, nota_2_3, nota_2_4]
usuario3 = [nota_3_1, nota_3_2, nota_3_3, nota_3_4]

matriz A = [ [nota_1_1, nota_1_2, nota_1_3, nota_1_4],
                         [nota_2_1, nota_2_2, nota_2_3, nota_2_4],
                         [nota_3_1, nota_3_2, nota_3_3, nota_3_4]]
'''

# Criando a matriz de notas
matriz_notas = df.pivot_table(index='userId', columns='movieId', values='rating')
matriz_notas = matriz_notas.fillna(0)
matriz_notas.head(2)

movieId,1,2,3,4,5,6,7,8,9,10,...,161084,161155,161594,161830,161918,161944,162376,162542,162672,163949
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
def comprimir (u, s, vt, K):
    """Remove elementos de u, s e vt deixando somente K componentes restantes
    """ 
    u_ = u[:, :K]
    s_ = s[:K]
    vt_ = vt[:K, :]
    return u_, s_, vt_

In [5]:
# vamos escolher uma linha aleatória do nosso df

linha = np.random.randint(0, df.__len__())

# vamos pegar o id do usuário e do filme dessa linha

id_usuario = df.iloc[linha]['userId']
id_filme = df.iloc[linha]['movieId']

# vamos pegar a nota que esse usuário deu para esse filme

nota = df.iloc[linha]['rating']

A = deepcopy(matriz_notas)

# vamos trocar a nota do usuário por um valor aleatorio entre 0.0 e 5.0 e salvar no nosso A

A.loc[id_usuario, id_filme] = np.random.uniform(0.0, 5.0)

nota_aleatoria = A.loc[id_usuario, id_filme]

In [6]:
# SVD da matriz A

u, s, vt = svd(A)

# vamos comprimir a matriz A para 2 componentes

u_, s_, vt_ = comprimir(u, s, vt, 150)

sigma = diagsvd(s_, u_.shape[1], vt_.shape[0])

# vamos reconstruir a matriz A com 2 componentes

B = u_ @ sigma @ vt_

# vamos ver a nota que o usuário deu para o filme

print('Nota do usuário para o filme: ', nota)

print('Nota aleatória do usuário para o filme: ', nota_aleatoria)

# vamos ver a nota que o usuário deu para o filme na matriz B
B = pd.DataFrame(B, index=A.index, columns=A.columns)
print('Nota do usuário para o filme na matriz B: ', B.loc[id_usuario, id_filme])

Nota do usuário para o filme:  3.0
Nota aleatória do usuário para o filme:  0.024278986632287336
Nota do usuário para o filme na matriz B:  1.657273622337612